<!doctype html>
<html>
  <head>
    {% block header %}
    <title>{% block title %}SaToSa WebPage{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020
      {% endblock %}
    </div>
  </body>
</html>