{% extends "test/base_layout.html.jinja2" %}
{% block header %}
    {% include "test/cesnet_header.html.jinja2" %}
{% endblock %}

{% block footer %}
    {% include "test/cesnet_footer.html.jinja2" %}
{% endblock %}