<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <script type="text/javascript" src="https://login.cesnet.cz/proxy/resources/script.js"></script>
    <title>{{ page_tittle }}</title>

    <link rel="icon" type="image/icon" href="https://login.cesnet.cz/proxy/module.php/cesnet/res/img/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://login.cesnet.cz/proxy/resources/default.css">


    <link rel="stylesheet" type="text/css" href="https://login.cesnet.cz/proxy/module.php/cesnet/res/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://login.cesnet.cz/proxy/module.php/cesnet/res/css/cesnet.css">

    <meta name="robots" content="noindex, nofollow">

</head>