<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 logo">
                <a href="http://www.cesnet.cz/">
                    <img src="https://login.cesnet.cz/proxy/module.php/cesnet/res/img/logo-cesnet.png" width="250px">
                </a>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col col-sm-6">
                        <h2> OTHER CESNET PROJECTS</h2>
                        <ul>
                            <li><a href="https://www.metacentrum.cz/en/Sluzby/index.html">Computing</a></li>
                            <li><a href="https://du.cesnet.cz/en/start">Data storage</a></li>
                            <li><a href="https://meetings.cesnet.cz/?lang=en">Videoconferences</a></li>
                            <li><a href="https://pki.cesnet.cz/en/st-cca-services.html">Certificates</a></li>
                            <li><a href="https://www.cesnet.cz/services/?lang=en">Other services</a></li>
                            <li><a href="https://www.cesnet.cz/cesnet/personal-data-protection/?lang=en">Personal data protection</a></li>
                        </ul>
                    </div>
                    <div class="col col-sm-6">
                        <h2>HELPDESK</h2>
                        TEL: +420 234 680 222<br>
                        GSM: +420 602 252 531<br>
                        <a href="mailto:login@cesnet.cz">login@cesnet.cz</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12 copyright">
                © 1991– 2020 | CESNET, z. s. p. o.
            </div>
        </div>
    </div>
</footer>
